*{
	list-style: none;
    margin: 0;
	text-decoration: none;
	padding: 0;
	box-sizing: border-box;
}
img{
	width: 100%;
	height: 100%;
	display: block;
}
input{
	outline: none;  /* 去掉边框线 */
	border: none;
}